{% extends 'base.html' %}
{% block pagination %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock pagination %}
{% block content %}
<main>
  <h1>Shopping List</h1>
  <form method="post" action="{% url 'shopping_items_delete'%}">
    {% csrf_token %}
    <button class="button">Delete Shopping List</button>
  </form>
  <ul class="recipe-grid">
    {% for item in shopping_list %}
    <li>{{ item.food }}</li>
    {% endfor %}
  </ul>
</main>
{% endblock content%}
