{% extends 'base.html' %}
{% block content %}
{% load markdownify %}
<main class="meal-plan-detail">
  <div>
    <a href="{% url 'meal_plan_edit' mealplan.id %}">Edit</a>
    <a href="{% url 'meal_plan_delete' mealplan.id %}">Delete</a>
  </div>
  <h1>{{ mealplan.name }}</h1>
  <h2>by: {{ mealplan.date }}</h2>
  <ul>
    {% for recipe in recipes %}
    <li><a href="{% url 'recipe_detail' recipe.id%}">{{ recipe.name }}</a></li>
    {% endfor %}
  </ul>
</main>
{% endblock content %}
